:root {
    --pico-font-family: "Electrolize", sans-serif;
}

.brand {
    font-weight: bold;
    font-style: italic;
    font-size: 110%;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}